* {
	margin: 0px;
	padding: 0px;
	word-break: break-all;
}

A         { color: #36C; }
A:link    { text-decoration: none; }
A:visited { text-decoration: none; }
A:hover   { text-decoration: underline; color: #F30; }

HTML {
	overflow-y: scroll;
}

BODY{
	background-color: #FFFFFF;
	font-size: x-small;
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	color: #333;
	margin: 10px;
	padding: 0px;
}

table {
	border-collapse: separate;
	border-spacing: 0px;
	font-size: x-small;
	line-height: 150%;
}

th {
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: right;
	font-weight: normal;
	background-color: #DDDDDD;
}

td {
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #EEEEEE;
}


/************************************/
/*  error                           */
/************************************/
#error {
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	margin: 20px;
	padding: 10px;
	background-color: #FFFFDD;
	border: 1px solid #66CC33;
}

