#SelLay {
	margin: 0px;
	padding: 0px;
	width: 550px;
	z-index:1;
	border: 1px solid #000E7D;
	background-color: #FFF;
	filter:alpha(opacity=90); /*IE*/
	-moz-opacity:0.9; /*FF*/
	opacity:0.9;
}

#SelLay iframe {
	background-color: #FFF;
	border: none;
}

#SelLay .sel_bg {
	background-image: url(../image/selwin_bg.gif);
	background-repeat: repeat-x;
}

#SelLay .topbar {
	width: 550px;
	height: 30px;
	color: #FFF;
	vertical-align: middle;
	line-height: 1em;
	cursor: move;
}
#SelLay .cont {
	width: 550px;
	background-color: #FFF;
}
#SelLay .bottombar {
	width: 550px;
	height: 20px;
	background-image: url(../image/selwin_bg2.gif);
	background-repeat: repeat-x;
	background-position: top;
	line-height: 20px;
}
