HTML {
	overflow-y: scroll;
	overflow-x: hidden;
}

BODY{
	background-color: #FFFFFF;
	font-size: small;
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px 20px;
	background-image: url(image/bg.gif);
	background-repeat: repeat-x;
	background-attachment: fixed;
}
* {
	margin: 0px;
	padding: 0px;
	word-break: break-all;
}

A         { color: #36C; }
A:link    { text-decoration: none; }
A:visited { text-decoration: none; }
A:hover   { text-decoration: underline; color: #F30; }

p {
	margin: 0px;
	padding: 10px 0px;
}

.f1 {
	font-size: 1px;
	line-height: 1em;
}
.line_r {
	border-right: 1px solid #CCC;
}

/************************************/
/*  Header                          */
/************************************/
#Header {
	background-color: #FFFFFF;
	color: #000;
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin: auto;
}

/************************************/
/*  Footer                          */
/************************************/
#Footer {
	padding: 20px 0px;
	margin: 0px;
	width: 100%;
	margin: auto;
}
#Footer .process{
	font-size: 10px;
	color: #333333;
}
#Footer .copy{
	font-size: 10px;
	color: #333333;
	text-align: right;
}

/************************************/
/*  online                         */
/************************************/
.online {
	margin: 10px;
	padding: 0px;
}
/************************************/
/*  search_box                      */
/************************************/
.search_box {
	margin: 10px;
	padding: 0px;
}
.search_box .search_txt {
	padding: 3px;
	margin: 0px;
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 1em;
	width: 150px;
	color: #333;
}


/************************************/
/*  Main                            */
/************************************/
#Main {
	width: 100%;
	margin: auto;
}


/************************************/
/*  NavigationArea                  */
/************************************/
#NavigationArea {
	width: 100%;
	display: block;
	padding: 0px;
	margin: 0px;
}
#NavigationArea .navi_list{
	margin: 0px;
	padding: 5px;
	letter-spacing: 0.1em;
}

#NavigationArea .navi_list A {
	display: block;
	background-image: url(image/icon_list.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0px 0px 0px 10px;
	padding: 2px 4px 2px 20px;
	width: 120px;
}
#NavigationArea .navi_list A:hover {
	text-decoration: none;
}

#NavigationArea .navi_list ul{
	padding: 0px 0px 15px;
	margin: 0px;
}

#NavigationArea .navi_list li{
	padding: 0px;
	margin: 1px;
	list-style-type: none;
}

#NavigationArea .navi_list .list_title{
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding: 3px 0px 3px 20px;
	font-weight: bold;
	background-image: url(image/icon_list_title.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#NavigationArea .navi_list .list_admin{
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding: 3px 0px 3px 20px;
	font-weight: bold;
	background-image: url(image/icon_list_admin.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

/************************************/
/*  DataArea                        */
/************************************/
#DataArea {
	padding: 0px;
	margin: 0px 20px;
}
#DataArea textarea {
	padding: 5px;
	line-height: 130%;
	letter-spacing: 0.1em;
}
#DataArea table {
	border: 1px solid #CCC;
	border-collapse: collapse;
	border-spacing: 2px;
}

#DataArea th {
	background-image: url(image/data_th.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #EEE;
	font-size: 11px;
	line-height: 11px;
	text-align: left;
	font-weight: normal;
	letter-spacing: 0.2em;
	padding: 6px;
	border-right: 1px solid #999;
	/*border-bottom: 1px solid #ccc;*/
}

#DataArea td {
	font-size: x-small;
	line-height: 150%;
	padding: 3px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#DataArea .no_th {
	background-image: none;
	border-bottom: 1px solid #999;
}

#DataArea .lite {
	background-color: #FFF;
}

#DataArea .bg_total {
	background-image: url(image/total_bg.gif);
	background-color: #dfe3e6;
}
#DataArea .font_small {
	font-size: small;
}
#DataArea .title {
	background-image: url(image/title_point.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 16px;
	font-weight: bold;
	color: #F30;
	padding: 4px 0px 4px 15px;
	margin: 10px 0px;
	line-height: 16px;
}
#DataArea .data_date {
	padding: 0px;
	margin: 10px 0px;
	line-height: 120%;
}
#DataArea .data_craw {
	margin-left: 30px;
	display: inline;
}
#DataArea .color1 {
	background-color: #FFFFFF;
}
#DataArea .color2 {
	background-color: #F3F3F3;
}

/************************************/
/*  Calendar                        */
/************************************/
#calendar {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	text-align: center;
}
#calendar A {
	color: #0000FF;
}
#calendar A:hover {
	color: #FF0000;
}
#calendar table {
	border: 1px solid #48C;
}
#calendar td {
	font-size: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0px;
	padding: 3px;
}
#calendar .cal_a {
	display: block;
}
#calendar .cal_sel {
	BACKGROUND: #339;
	color: #FFF;
	margin: 0px;
}
#calendar .cal_sel A {
	color: #FFF;
	text-decoration: underline;
}
#calendar .cal_sel A:hover {
	color: #FFF;
	text-decoration: underline;
}
#calendar .cal_def {
	BACKGROUND: #FFF;
	margin: 0px;
}
#calendar .cal_sat {
	BACKGROUND: #DDF;
}
#calendar .cal_sun {
	BACKGROUND: #FDD;
}
#calendar .cal_blank {
	BACKGROUND: #F9F9F9;
}
#calendar .date {
	color: #333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
#calendar .option {
	margin: 5px 0px 0px 0px;
	padding: 0px;
	text-align: right;
	width: 100%;
}

/************************************/
/*  error                           */
/************************************/
#error {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5em;
	color: #C00;
	margin: 20px;
	padding: 10px 0px 10px 30px;
	background-color: #FFF;
	background-image: url(image/error.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

/************************************/
/*  time_w                          */
/************************************/
#time_w table {
	border: 1px solid #ccc;
	border-collapse: separate;
	border-spacing: 5px;
}

#time_w th {
	letter-spacing: 0em;
	font-size: x-small;
	padding: 3px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: #f3f3f3;
	text-align: center;
}

#time_w td {
	font-size: x-small;
	padding: 10px 0px 0px 0px;
	border: 1px solid #fff;
	background-color: #fff;
}

/************************************/
/*  select                          */
/************************************/
#Select {
	background-color: #999;
    overflow:auto;
    height:400px;
    width:600px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-300px;

}
