HTML {
	overflow-y: scroll;
}

BODY{
	background-image: url(image/bg.gif);
	background-color: #FFF;
	font-size: small;
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	color: #333;
	margin: 10px;
	padding: 0px;
	border: 1px solid #808080;
}
* {
	margin: 0px;
	padding: 0px;
}

A         { color: #36C; }
A:link    { text-decoration: none; }
A:visited { text-decoration: none; }
A:hover   { text-decoration: underline; color: #F30; }

#Body {
	background-color: #FFF;
}
/************************************/
/*  Header                          */
/************************************/
#Header {
	background-color: #FFF;
	color: #000;
	border-bottom: 1px solid #808080;
	margin: 0px;
	padding: 10px;
}

/************************************/
/*  Footer                          */
/************************************/
#Footer {
	background-color: #FFF;
	padding: 10px 0px;
	margin: 0px;
}
#Footer .copy{
	font-size: 10px;
	color: #333333;
	text-align: right;
	padding-right: 20px;
}

/************************************/
/*  DataArea                        */
/************************************/
#DataArea {
	background-color: #FFF;
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	padding: 0px 50px 0px 50px;
	margin: 0px;
}
#DataArea p {
	padding: 0px 0px 5px 25px;
	margin: 0px;
	color: #090;
}
#DataArea ul {
	padding: 0px 0px 20px 20px;
	margin: 0px;
}
#DataArea li {
	font-size: 12px;
	line-height: 150%;
}

#DataArea select {
	padding: 0px;
	letter-spacing: 0.1em;
	width: 200px;
	color: #333;
}

#DataArea textarea {
	padding: 10px;
	margin: 0px;
	line-height: 130%;
	letter-spacing: 0.1em;
	width: 250px;
	height: 500px;
	color: #333;
}

#DataArea .input_txt{
	padding: 1px;
	margin: 0px;
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	width: 300px;
	color: #333;
}

#DataArea table {
	font-family: Verdana, Arial, "MS UI Gothic", Osaka, Helvetica, sans-serif;
	color: #333;
	border: 1px solid #808080;
	border-collapse: separate;
	border-spacing: 0px;
}

#DataArea th {
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #EEE;
	text-align: left;
	font-weight: normal;
	letter-spacing: 0.2em;
}

#DataArea td {
	font-size: 12px;
	line-height: 150%;
	padding: 5px;
	border-right: 1px solid #ccc;
	background-color: #FFF;
}

#DataArea .end {
	border-right: none;
}

#DataArea .bt {
	border-bottom: none;
}

#DataArea .sp {
	border-bottom: 1px solid #ccc;
}
#DataArea .sp_end {
	border-right: none;
	border-bottom: 1px solid #ccc;
}

#DataArea .def {
	background-color: #FFF;
}

#DataArea .def ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}
#DataArea .def li {
	margin: 0px;
	padding: 0px 10px 0px 20px;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline;
	background-image: url(image/icon_list.gif);
	letter-spacing: 0.1em;
}

#DataArea .title {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	margin: 20px 0px 10px 0px;
	line-height: 100%;
}

/************************************/
/*  error                           */
/************************************/
#error {
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	margin: 20px;
	padding: 10px;
	background-color: #FFD;
	border: 1px solid #66CC33;
}

/************************************/
/*  NavigationArea                  */
/************************************/
#NavigationArea{
	margin: 0px;
	padding: 0px;
	letter-spacing: 0em;
	border-bottom: 1px solid #808080;
	background-color: #DEF;
}

#NavigationArea A {
	border-right: 1px solid #808080;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0px;
	padding: 4px 0px 4px 22px;
	width: 93px;
	color: #333;
	background-color: #FFF;
}
#NavigationArea A:hover {
	text-decoration: none;
}

#NavigationArea .ico_00 {
	border-left: 1px solid #808080;
	background-image: url(image/icon00_s.gif);
}
#NavigationArea .ico_00:hover {	background-color: #FCC; }

#NavigationArea .ico_01 {
	background-image: url(image/icon01_s.gif);
}
#NavigationArea .ico_01:hover {	background-color: #CCF; }

#NavigationArea .ico_02 {
	background-image: url(image/icon02_s.gif);
}
#NavigationArea .ico_02:hover {	background-color: #FF9; }

#NavigationArea .ico_03 {
	background-image: url(image/icon03_s.gif);
}
#NavigationArea .ico_03:hover {	background-color: #FC9; }

#NavigationArea .ico_04 {
	background-image: url(image/icon04_s.gif);
}
#NavigationArea .ico_04:hover {	background-color: #BFB; }

#NavigationArea .ico_05 {
	background-image: url(image/icon05_s.gif);
}
#NavigationArea .ico_05:hover {	background-color: #DDD; }

/************************************/
/*  Navigation                      */
/************************************/
#navi1,#navi2,#navi3,#navi4,#navi5 {
	visibility: hidden;
	position: absolute;
	top: 94px;
	width: 115px;
	z-index: 1;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-top: 1px solid #CCC;
	border-bottom: 2px solid #BBB;
	background-color: #FFF;
}
#navi1 { left:157px; }
#navi2 { left:273px; }
#navi3 { left:389px; }
#navi4 { left:505px; }
#navi5 { left:621px; }


#navi1 ul,#navi2 ul,#navi3 ul,#navi4 ul,#navi5 ul { padding: 0px; margin: 0px; }

#navi1 li,#navi2 li,#navi3 li,#navi4 li,#navi5 li { padding: 0px; margin: 0px; list-style-type: none; }

#navi1 A,#navi2 A,#navi3 A,#navi4 A,#navi5 A {
	color: #333;
	border-bottom: 1px solid #CCC;
	display: block;
	background-image: url(image/icon_list.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0px;
	padding: 5px 0px 5px 20px;
	width: 95px;
}
#navi1 A:hover { text-decoration: none; background-color: #CCF; }
#navi2 A:hover { text-decoration: none; background-color: #FF9; }
#navi3 A:hover { text-decoration: none; background-color: #FC9; }
#navi4 A:hover { text-decoration: none; background-color: #BFB; }
#navi5 A:hover { text-decoration: none; background-color: #DDD; }

